.jumbotron {
  margin: auto 0;
}

#box-wrapper {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/backgroundOne.jpg");
}

#box-wrapper h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  padding-top: 120px;
}

#box-wrapper p {
  color: white;
  text-align: center;
  font-size: 2.5em;
}

#createlogin {
  margin-left: 43%;
  margin-top: 25%;
  padding: 12px 50px;
}